GOOGLE_WEB_CLIENT_ID=341708744692-2lsinoa48obtgr54cr2gasqquo6cqvan.apps.googleusercontent.com
NODE_ENV=production
SUPABASE_URL=https://xafzdvdtzfyehxglthyr.supabase.co
SUPABASE_ANON_KEY=sb_publishable_FPT6HUhMOw041brjXHKRXQ_57Agbgae
GEMINI_API_KEY=dummy_key_for_build
